.cp-health-stats-container {
    background-color: beige;
    border-radius: 8px;
    border: solid;
    border-style: inset;
    margin: 8px 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 250px;
}

.cp-health-stats-container img {
    border-radius: 8px;
    height: 20px;
}