:root {
  --light-pink: #F27273B7;
  --medium-pink: #e66465e1;
  --dark-pink: #9198e5e1;
  --darker-pink: #9198e5;
  --light-dark-pink: #cdb4db;
  --light-medium-pink: #ffc8dd;
  --light-light-pink: #ffcfd2;
  --info-panel: #F27273;
  --footer: #0a9396;
}

main body html {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.cp-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;

}