.cp-dashboard {
  display: flex;
  flex-flow: column nowarp;
  padding: 10px;

}

.cp-dashboard-alert {
  
  text-align: center;
  flex: 1 1 auto;
  margin: 10px;
  
}

.cp-viewing-area {

  display: flex;
  flex-flow: row wrap;

}
